body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  border: thick solid black;
  border-radius: 5px;
  text-align: center;
  background-color: lightgrey;
  font-size: 100px;
}

.MovieList {
  width: 50%;
  position: relative;
  left: 25%;
}

.Movie {
  font-size: 40px;
  height: 100px;
  text-align: center;
  border: thin solid gray;
}

